{% extends 'shared/base.html' %}
{% load markup %}

{% block content %}
	<div class="main-box form-main">
		<h1>
			Formularz zamówienia wyceny projektu
		</h1>

		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<label for="id_name">Osoba do kontaktu:</label><br>
			{% for error in form.name.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input
				id="id_name" maxlength="128" name="name" type="text"
				class="{% if form.name.errors %}error{% endif %}"
				value="{% if form.name.value %}{{ form.name.value }}{% endif %}"><br>

			<label for="id_name">Telefon:</label><br>
			{% for error in form.phone.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input
				id="id_phone" maxlength="128" name="phone" type="text"
				class="{% if form.phone.errors %}error{% endif %}"
				value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"><br>

			<label for="id_email">Adres email:</label><br>
			{% for error in form.email.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input id="id_email" name="email" type="email"
				class="{% if form.email.errors %}error{% endif %}"
				value="{% if form.email.value %}{{ form.email.value }}{% endif %}"><br>

			{# files #}
			<label for="id_file1">Materiały wyjściowe do projektu (szkice, rysunki, CAD itp.):</label><br>
			{% for error in form.non_field_errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			{% for error in form.file1.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input id="id_file1" name="file1" type="file"
				class="{% if form.file1.errors %}error{% endif %}"
				value="{% if form.file1.value %}{{ form.file1.value }}{% endif %}"><br>

			{% for error in form.file2.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input id="id_file2" name="file2" type="file"
				class="{% if form.file2.errors %}error{% endif %}"
				value="{% if form.file2.value %}{{ form.file2.value }}{% endif %}"><br>

			{% for error in form.file3.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input id="id_file3" name="file3" type="file"
				class="{% if form.file3.errors %}error{% endif %}"
				value="{% if form.file3.value %}{{ form.file3.value }}{% endif %}"><br>

			{% for error in form.file4.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<input id="id_file4" name="file4" type="file"
				class="{% if form.file4.errors %}error{% endif %}"
				value="{% if form.file4.value %}{{ form.file4.value }}{% endif %}"><br>
			{# files - end #}

			<label for="id_description">Opis / więcej informacji:</label><br>
			{% for error in form.description.errors %}
				<span class="error-message">{{ error }}</span><br>
			{% endfor %}
			<textarea id="id_description" name="description"
				class="{% if form.description.errors %}error{% endif %}">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea><br>


			<button type="submit">Wyślij</button>
		</form>
	</div>
{% endblock %}
