@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import "normalize.min.css";

// solarized <3
// http://ethanschoonover.com/solarized
@base03: #002b36;
@base02: #073642;
@base01: #586e75;
@base00: #657b83;
@base0: #839496;
@base1: #93a1a1;
@base2: #eee8d5;
@base3: #fdf6e3;
@yellow: #b58900;
@orange: #cb4b16;
@red: #dc322f;
@magenta: #d33682;
@violet: #6c71c4;
@blue: #268bd2;
@cyan: #2aa198;
@green: #859900;

@font-color: @base01;
@border-color: @base1;
@background-color: @base3;
@background-active-color: @base2;
@accent1-color: @green;
@accent2-color: @cyan;
@spacing: 1em;

@sans: 'Lato', sans-serif;
@monospace: 'Inconsolata', monospace;

// ----------------------------------------------------------------------------
// mixins
// ----------------------------------------------------------------------------

.border(@top: 1px, @right: 1px, @bottom: 1px, @left: 1px) {
    border-color: @border-color;
    border-style: solid;
    border-width: @top @right @bottom @left;
}

// ----------------------------------------------------------------------------
// main elements
// ----------------------------------------------------------------------------

html, body {
    color: @font-color;
    background-color: @background-color;
    font-family: @sans;
    text-align: justify;
}

// ----------------------------------------------------------------------------
// typography and elements
// ----------------------------------------------------------------------------

a {
    color: @accent1-color;
    text-decoration: none;
}

a:hover {
    color: @accent2-color;
}

pre {
    padding: @spacing @spacing*2;
    font-family: @monospace;

    code {
        font-family: @monospace;
    }
}

blockquote {
    font-style: italic;
    margin: @spacing;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
    margin: @spacing 0;
    clear: both;
}

h1, h2, h3 {
    .border(0, 0, 1px, 0);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

hr {
    .border(0, 0, 1px, 0);
}

p {
    padding: 0 @spacing;
}

ul {
    padding-left: @spacing*2;
}

// ----------------------------------------------------------------------------
// grid
// ----------------------------------------------------------------------------

*, ::before, ::after {
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .row {

        [class^="col-"] {
            float: left;
            display: inline;
            position: relative;
            min-height: 1px;
        }

        .col-1 {
            width: 10%;
        }

        .col-2 {
            width: 20%;
        }

        .col-3 {
            width: 30%;
        }

        .col-4 {
            width: 40%;
        }

        .col-5 {
            width: 50%;
        }

        .col-6 {
            width: 60%;
        }

        .col-7 {
            width: 70%;
        }

        .col-8 {
            width: 80%;
        }

        .col-9 {
            width: 90%;
        }

        .col-10 {
            width: 100%;
        }

    }
}

// ----------------------------------------------------------------------------
// navbar
// ----------------------------------------------------------------------------

#nav {
    margin-top: -@spacing;
    margin-bottom: @spacing*3;
    float: right;
    position: relative;
    left: -50%;

    ul {
        list-style: none;
        padding: 0;
        position: relative;
        z-index: 5;
        left: 50%;

        a {
            color: @font-color;
            display: block;
            padding: @spacing/2 @spacing*2;
            white-space: nowrap;
        }

        li {
            float: left;
            position: relative;
            margin: 0;
        }

        li:hover {
            background-color: @background-active-color;
            opacity: 0.9;

            ul {
                left: 0;
            }
        }

        ul {
            .border;
            background-color: @background-color;
            list-style: none;
            position: absolute;
            left: -9999px;
            padding: 0;

            li {
                padding-top: 1px;
                float: none;
                margin: 0;
            }
        }
    }
}
