{% load markup %}

<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
		<link rel="stylesheet" href="{{ THEME_STATIC_URL }}shared/style.css">
	</head>

	<body>


		{# HEADER #}

		<div class="header-top">
			<h1>
				Wydruki 3D, prototypowanie, projektowanie form wtryskowych
			</h1>
		</div>

		<div class="header-middle">
			<div class="boxes">
				<div class="box-menu">
					<ul>
						<a href="{{ menu.0.get_absolute_url }}">
							<li>
								{{ menu.0 }}
							</li>
						</a>
						{% for level1 in menu.1 %}
							<a href="{{ level1.0.get_absolute_url }}">
								<li>
									{{ level1.0 }}
								</li>
							</a>
						{% endfor %}
					</ul>
				</div>
				<div class="box-short">
					<h1>
						{{ object.name }}
					</h1>
					<p>
						{{ object.short }}
					</p>
					<a href="{{ level1.0.get_absolute_url }}" class="read-more">
						Czytaj dalej
					</a>
				</div>
			</div>
		</div>

		<div class="header-bottom">
			<div>
				<h2>
					Od projektu do produkcji
				</h2>
				<p>
					Masz pomysł, nie wiesz jak wykonać projekt? Zrobimy go za Ciebie, stworzymy prototyp, wykonamy formę.
				</p>
			</div>
		</div>


		{# CONTENT #}

		{% block content %}{% endblock %}

		<div class="content-boxes">
			<div class="box-left">
				<h1>
					Wydruki 3D
				</h1>
				<article>
					<p>
						{% if boxes.prints3d.is_html %}
							{{ boxes.prints3d.content|safe }}
						{% elif boxes.prints3d.is_markdown %}
							{{ boxes.prints3d.content|markdown }}
						{% endif %}
					</p>
				</article>
			</div>
			<div class="box-right">
				<h1>
					Projektowanie 3D
				</h1>
				<article>
					<p>
					</p>
				</article>
			</div>
		</div>


		{# FOOTER #}

		<div class="footer">
			<div class="footer-boxes">
				<div class="contact">
					<div class="contact-content">
						{% if boxes.contact.is_html %}
							{{ boxes.contact.content|safe }}
						{% elif boxes.contact.is_markdown %}
							{{ boxes.contact.content|markdown }}
						{% endif %}
					</div>
				</div>
				<div class="contact-form">
					<div class="contact-form-content">
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
